# Kyokko
iploc/
boards/*/ip/*/

# Vivado logs
vivado*jou
vivado*log

# Quartus
*.BAK.ip
IpUpgradeLog.xml

# Xcelium (xmverilog)
xcelium.d/
waves.shm/
xmverilog.*
bpad*.err
xmsim_*.err
.simvision/

# Mac
.DS_Store
.AppleDouble
._*

# Emacs
*~

